
.icon-phone:before { content: '\e800'; } /* '' */
.icon-email:before { content: '\e801'; } /* '' */
.icon-keyboard:before { content: '\e802'; } /* '' */
.icon-password:before { content: '\e803'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-confirm-password:before { content: '\e805'; } /* '' */
.icon-check:before { content: '\e806'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-lock-open-alt:before { content: '\f075'; } /* '' */
.icon-street-view:before { content: '\f21d'; } /* '' */
.icon-lock-alt:before { content: '\f510'; } /* '' */